# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/README.md
.env
.env.local
*.p8

# Bundler
vendor/bundle
.bundle
Gemfile.lock
