# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
